.detail-container{
    width: 100%; height: 90vh;
    margin-top: 60px;
    padding: 0 5%;

    .btn-go-back{
        width: 110px; height: 36px;
        margin-bottom: 80px;
        @include grid(14px);
        grid-auto-flow: column;
        place-content: center;
        align-items: center;
        background-color: var(--bg-elements-theme);
        text-decoration: none;
        font-weight: 600;
        box-shadow: 0 0 11px -2px #0005;
        @include border-radius(2px);
    }

    .detail{
        @include flex(0, normal, center);

        .flag-image{
            width: 46%; height: 350px;
            object-fit: cover;
            @include border-radius(15px);
        }
        
        .detail-text{
            width: 40%; height: auto;
            min-width: 40%;
            margin: 0 auto;
            @include grid(0);
            place-content: center;

            .flag-name{
                margin-bottom: 20px;
                font-size: 2em;
                font-weight: 800;
                letter-spacing: 1px;
            }

            .info{
                @include flex(20px, space-between, normal);

                div span{ font-weight: 600; line-height: 1.9; min-width: max-content;}
            }

            .border-countries{
                height: auto;
                margin-top: 50px;
                @include flex(15px, normal, center);

                span{ min-width: max-content; font-weight: 600; }

                .countries{
                    @include flex(5px, normal, normal);
                    flex-wrap: wrap;

                    .go-to{
                        width: 60px; 
                        padding: 5px 0;
                        @include border-radius(2px);
                        font-size: .9em;
                        box-shadow: 0 0 11px -2px #0005;

                        .border-link{
                            display: inline-block;
                            width: 100%;
                            text-decoration: none;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .detail-container .detail .flag-image{ width: 42%; height: 200px; }
    .detail-container .detail .detail-text{ width: 50%; margin: 0 0 0 auto; }
}


@media screen and (max-width: 800px){
    .detail-container .detail{
        flex-direction: column;
        gap: 50px;

        .flag-image{
            width: 70%; height: 280px;
            aspect-ratio: 16/9;
        }

        .detail-text{
            width: 70%;
            margin: 0 auto;
            place-content: normal;
        }
    }
}

@media screen and (max-width: 600px){
    .detail-container .detail{
        .flag-image{ width: 100%; height: auto; }
    
        .detail-text{ width: 100%; }
    }
}

@media screen and (max-width: 376px){
    .detail-container .detail .detail-text {
        .info{
            flex-direction: column;
            gap: 30px;
        }

        .border-countries{
            flex-direction: column;
            align-items: normal;

            .countries .go-to{
                flex: 1;
                min-width: 50px;
            }
        }
    }

    .detail-container{
        .btn-go-back{ width: 100px; margin-bottom: 40px; }
    }
}