@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    @include transition(background-color, .1s, linear);
}

body{
    @include theme-color();
    
    background-color: var(--bg-body-theme);
    font-size: 14px;
    &.light{ @include theme-color($dark-mode: false) }
}

button{ background-color: transparent; border: none; cursor: pointer; }

.text-color{ color: var(--texts-color); }

.bg-and-shadow{
    background-color: var(--bg-elements-theme);
    box-shadow: 0 0 15px -10px #0008;
}