/* Animación que se mostrará cuando no se encuentre el "flag" tipado */
@keyframes animate-shadow-input {
    from{box-shadow: 0 0 3px #0000; }
    to{box-shadow: 0 0 3px var(--error-flag);}
}

/* Fragmento para estilar el "modal" que se hará visible cuando las "opciones de filtrado por región" esté visible */
body .modal{
    position: fixed;
    top: 0;
    width: 100vw; height: 100vh;
    background-color: #0007;
}

.hero{
    /* Contenedor principal  */
    height: 36px;
    margin-top: 40px;
    justify-content: space-between;
    gap: 10px;
    
    /*Input para Filtrar paises*/
    .label-search{
        width: 350px; height: 100%;
        padding-inline: 20px;
        gap: 10px;

        #input-search{
            width: 100%; height: 100%;
            color: var(--texts-color);
            background-color: transparent;
            border: none;
            outline: none;

            &::placeholder{ color: currentColor; }
        }
    }
    .error-flag{ animation: animate-shadow-input .8s linear alternate-reverse infinite; }
    
    /* Caja para el listado de Regiones por las que se puede Filtrar paises */
    .filter-container{
        position: relative;
        width: 200px; height: 100%;
        z-index: 100;

        .open-filter{
            width: 100%; height: 100%;
            padding-inline: 16px;
            justify-content: space-between;
            font-size: 12px;

            &:active > img{ transform: translateY(2px)}
        }

        .filter-options{
            position: absolute;
            width: 100%;
            margin-top: 10px;
            padding-block: 5px;
            list-style: none;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: clip-path .1s linear;

            li{ 
                display: flex;
                display: -webkit-flex;
                align-items: center;
                height: 30px;
                padding-inline: 16px;
                font-size: 12px;
                font-weight: 600;
                cursor: pointer;

                &:hover{ background-color: var(--bg-hover-list); }
            }

            .region-active{ background-color: var(--bg-hover-list); }

            li:last-child{ &:hover{ background-color: #ff5a5a6d; } }
        }

        .show-options{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    }
}

/* Responsive: 500px (mobile) */
@media screen and (width <= 500px){
    .hero{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        height: auto;
        margin-top: 35px;

        .label-search{  width: 100%; height: 50px; } /*Input para Filtrar paises*/

        .filter-container{ height: 40px; } /* Caja para el listado de Regiones por las que se puede Filtrar paises */
    }
}