*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    background-color: var(--bg-body-theme);
}